.birth-picker,
.start-picker {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 700px;
  padding: 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;

  &-custom-textfield {
    width: 100%;
  }

  &-address-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 20px;
  }
}

.names-container,
.dates-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.adress-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  input {
    width: 50px;
  }
}

.button--green {
  background-color: #93ad18;
}
