.birth-picker,
.start-picker {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 700px;
  padding: 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;

  &-custom-textfield {
    width: 100%;
  }

  &-address-container {
    display: flex;
    flex-direction: column;
  flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 20px;
  }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root {
  padding-top: 16px;
}

.names-container,
.dates-container {
  display: flex;
  width: 100%;
  gap: 16px;
}

  input {
    width: 50px;
  }

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
  .names-container,
  .dates-container {
    flex-direction: column;
  }
  .MuiGrid-root.MuiGrid-container.css-10mzr36-MuiGrid-root {
    display: flex;
    flex-direction: column;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root {
    max-width: 100%;
  }
}


