.form {
    display: flex;
    flex-direction: column;
    width: 290px;

    &-input-group {
        display: flex;
        flex-direction: column;
    }
}

.home {

    &-container {
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        justify-content: center;
    }

    &-nav {
        display: flex;
        justify-content: center;
    }

    &-main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-modal {
        position: absolute;
        width: 300px;
        border: 1px solid black;
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

