.table {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

.MuiDataGrid-columnHeaders.css-z8fhq1-MuiDataGrid-columnHeaders {
  border-radius: 0;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.css-hx4lix-MuiDataGrid-root {
  border-radius: 6px;
}
