.create {
  &-header {
    display: flex;
    justify-content: center;
  }

  &-title {
    font-size: 1.2em;
  }

  &-nav {
    display: flex;
    justify-content: center;
  }

  &-main {
    height: calc(100% - 165px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;

    &-section {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
