.create {
  &-header {
    display: flex;
    justify-content: center;
  }

  &-nav {
    display: flex;
    justify-content: center;
  }

  &-main {
    height: calc(100% - 165px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;

    &-section {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-container {
    height: 100%;
  }
}
