.employee-list {
  &-container {
    height: 100%;
  }
  &-main {
    display: flex;
    height: calc(100% - 165px);
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0 20px;
    margin-bottom: 70px;
  }

  &-section {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title-container {
    width: 100%;
  }

  &__title {
    
    font-size: 1.2em;

  }
}

svg {
  color: #fff;
}
