.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  background-color: black;

  &__text {
    margin: 0px 0px 0.35em;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: #fff;
  }
}
